.A_Hand {
    &.Hour {
      width: 8vw;
      height: 0.31vw;
      background-color: black;
  
      position: absolute;
      transform-origin: center left;
      top: calc(50%);
      left: 50%;
      transform: rotate(270deg);
    }
    &.Minute {
      width: 10vw;
      height: 0.31vw;
      background-color: rgb(255, 0, 0);
  
      position: absolute;
      transform-origin: center left;
      top: calc(45%);
      left: 50%;
      transform: rotate(270deg);
    }
  }

  .Main_Display_Time{
    display: block;
  }
  .A_Time {
    width: 23vw;
    position: absolute;
    top: 43%;
    left: 50%;
    
    text-decoration: none;
    font-family: Helvetica;
    font-size: 3.6vw;
    cursor: pointer;
    z-index: 0;
  
    &.right_side {
      text-align: right;
      transform-origin: center left;
  
      &:nth-of-type(1) {
        transform: rotate(-90deg);
      }
      &:nth-of-type(2) {
        transform: rotate(-60deg);
      }
      &:nth-of-type(3) {
        transform: rotate(-30deg);
      }
      &:nth-of-type(4) {
        transform: rotate(0deg);
      }
      &:nth-of-type(5) {
        transform: rotate(30deg);
      }
      &:nth-of-type(6) {
        transform: rotate(60deg);
      }
      &:nth-of-type(7) {
        transform: rotate(90deg);
      }
    }
    &.left_side {
      text-align: left;
      transform-origin: center right;
      left: calc(50% - 23vw);
  
      &:nth-of-type(8) {
        transform: rotate(-60deg);
      }
      &:nth-of-type(9) {
        transform: rotate(-30deg);
      }
      &:nth-of-type(10) {
        transform: rotate(0deg);
      }
      &:nth-of-type(11) {
        transform: rotate(30deg);
      }
      &:nth-of-type(12) {
        transform: rotate(60deg);
      }
    }
}

.A_Time:hover{
  color: rgb(105, 105, 105);
}

.A_Messager_Bar {
  width: 100%;
  height: 4vw;
  position: relative;
  display: flex;
  justify-content: end;
  font-family: Helvetica;
  color: rgba(150, 150, 150, 1);
  cursor: pointer;
  padding: 1vw 3vw;
  box-sizing: border-box;
  justify-self: center;
}
  
.A_Link {
  text-decoration: none;
  position: relative;
}

.A_Link::after{
  content: ""; 
  position: absolute;
  left: 0;
  bottom: -0.1vh; 
  width: 100%;
  height: 0.13vw; 
  background-color: currentColor;
}
  
.A_Search {
    font-family: Helvetica;
    font-size: 1.4vw;  
    border-bottom: 0.15vw solid rgba(150, 150, 150, 1);
    color: rgba(150, 150, 150, 1);
    margin-bottom: 0vw;
    margin-left: auto; 
}
  
.A_Search form input[type='search'] {
    font-family: Helvetica;
    font-size: 1.4vw;  
    border: 0;
    outline: none;
    cursor: text;
}
  
input::placeholder {
    text-align: left;
    font-size: 1.4vw;  
}

input[type="search"]::placeholder {
  color: rgba(150, 150, 150, 1); 
}

input[type="email"]::placeholder {
  color: currentColor; 
  font-weight: bold;
}

.A_Picture {
  width: 30.8vw;
  height: 100%;
}

  
.A_Quote{
    font-family: Helvetica;
    font-size: 1.25rem;  
    color: black;
    width: 30.8vw;
    padding: 1vw 0;
}

.A_Arrow_Back{
    cursor: pointer;
    width: 10vw;
}

.A_Mail form input[type='email'] {
    font-family: Helvetica;
    font-size: 1.4vw;  
    border: none;
    outline: none;
    cursor: text;
    text-align: left;
    padding: 0;
}

.A_Rights{
    width: 50%;
    text-align: left;
    color: inherit;
}
  
.A_Logo_in_Footer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.A_Nav{
  color: rgba(150, 150, 150, 1);
}

.A_Nav:hover{
  color: rgb(105, 105, 105);
}

.Active{
  color:black;
}

  
.A_Info_Icon{
  position: absolute;
  cursor: copy;
  z-index: 10;
}

.A_Info_Block{
  width: 100%;
  height: inherit;
  bottom: 0%;
  display: none;
  position: fixed;
  background-color: aqua;
  z-index: 10;
  color: rgb(0, 0, 0);

  font-family: Helvetica;
  font-size: 3vw;
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
}



.A_Info_Block_Mani{
  width: 100%;
  height: inherit;
  bottom: 0;
  display: none;
  position: fixed;
  background-color: aqua;
  z-index: 10;
  color: rgb(0, 0, 0);

  font-family: Helvetica;
  font-size: 3vw;
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  align-self: flex-end;

  transition: opacity 0.3s ease, visibility 0.3s ease;

}











.A_Images_in_Slider {
  width: 100%;
  display: block;
}

.A_Images_in_Slider img{
  width: 100%;
  height: auto;
  display: none;
}

.A_Images_in_Slider img.activ_img {
  display: block;
}

.A_Arrow_Backwards, .A_Arrow_Forwards {
  /* font-size: 3vw; */
  width: 2vw;
  cursor: pointer;
  user-select: none
}

.A_Count_for_Slider{
  font-family: Helvetica;
  font-size: 3.6vw; 
}


.A_Name_of_Manifest{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}


.A_Lil_Txt_Manifest{
  padding-left: 5vw;
}

.A_Text_Area_in_Notes{
  border: solid black 2px;
  height: 18vw;
  font-size: 1.4vw;
  font-family: Helvetica;
  padding: 1vw;
}

.A_Save_Note_Button{
  border: none;
  background-color: white;
  font-size: 1.4vw;
  font-family: Helvetica;
  font-weight: bold;
  text-align: left;
  padding-left: 0vw;
  cursor: pointer;
}

.A_link_txt{
  display: flex;
  flex-direction: column;
  gap: 0vw;
  padding-bottom: 1vw;
}

.A_Pic_AbtUS_width{
  width: 100%;
}

.A_Time_Icon{
  position: absolute;
  cursor: copy;
  z-index: 10;
}

.A_Time_Icon_Close{
  position: absolute;
  cursor: copy;
}






.A_Pic_Article{
  width: 100%;
}

.A_Text_of_Article{
  width: 50%;
  display: none;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  gap: 1vw;
  padding-bottom: 2vw;
}

.A_Button_Article{
  cursor: pointer;
  rotate: 0deg;
  transition: 300ms ease all;
}

.A_Button_Article {
  transition: transform 0.3s ease;
}
.A_Text_of_Article {
  transition: opacity 0.3s ease, transform 0.3s ease;
  p {
    padding-bottom: 2vw;
  }
}



.A_Logo_in_AbtUs{
  display: none;
}









.A_Pic_for_Article{
  width: 100%;
  display: flex;
  position: relative;
}


.First_P{
  z-index: 10;
  position: absolute;
}

.Second_P{
  z-index: 3;
  position: relative;
}



.A_Color {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  transition: all 1s ease-in-out;
  background-color: transparent; /* Лучше использовать transparent вместо none */
  mix-blend-mode: screen;
  pointer-events: auto; /* Чтобы hover работал */
}

.A_Color:hover {
  mix-blend-mode: screen;
  transition: all 1s ease-in-out;
}

.A_Color_Text{
  transition: all 1s ease-in-out;
  background-color: transparent; /* Лучше использовать transparent вместо none */
  mix-blend-mode: screen;
  pointer-events: auto; /* Чтобы hover работал */
}

.A_Color_Text:hover{
  mix-blend-mode: screen;
  transition: all 1s ease-in-out;
}

.A_RandColorFill{
  transition: all 1s ease-in-out;
  background-color: transparent;
  pointer-events: auto;
}

.A_RandColorFill:hover{
  transition: all 1s ease-in-out;
}


.Random_Position_Article_Icon{
  position: absolute;
  cursor: copy;
  z-index: 100;
}

.A_Dada_Gifka{
  display: none;
  position: absolute;
  align-self: center;
  z-index: 100;
}













































.M_Name_and_Cross_Article {
  /*  transition: top 0.3s ease;
  background: white; или другой фон, если нужно */
}

.O_Article {
  /*  position: relative; /* важно для абсолютного позиционирования */
}
























































@media all and (max-width: 800px){

  .A_Save_Note_Button{
    font-size: 1.7vw; 
  }

  .A_Hand {
    &.Hour {
      top: calc(46%);
  }}

}


@media all and (max-width: 680px){
  .A_Picture{
      width: 35.8vw;
  }

  .A_Quote{
      width: 35.8vw;
  }

  .A_Hand {
    &.Hour {
      top: calc(45%);
  }}

  .A_Save_Note_Button{
    font-size: 2vw; 
  }

  .A_Text_Area_in_Notes {
    border: solid black 1px;
  }

  .A_link_txt{
    padding-bottom: 2vw;
  }

  input::placeholder {
    text-align: left;
    font-size: 2vw;  
  }




  
  #A_P_AbtUs_Resize{
    font-size: 2.2vw;
  }

  #A_h3_Display{
    display: none;
  }

  .A_Logo_in_AbtUs{
    display: flex;
    align-self: center;
  }

  #A_Logo_Svg_Resize_AbtUs{
    width: 100vw;
    align-self: center;
  }
}



@media all and (max-width: 480px){
  .A_Picture{
      width: 35.8vw;
  }

  .A_Quote{
      width: 35.8vw;
  }

  .A_Hand {
    &.Hour {
      top: calc(45%);
    }}

  .A_Mail{
    width: 100%;
  }
  
  .A_Rights{
    width: 100%;
  }

  .A_Logo_in_Footer{
    width: 100%;
  }

  #A_Logo_Svg_Resize{
    width: 20vw;
  }

  #A_Icon_Resize{
    width: 5vw;
  }

  .A_Save_Note_Button{
    font-size: 2.5vw; 
  }

  .A_Text_Area_in_Notes {
    border: solid black 1px;
  }

  .A_link_txt{
    padding-bottom: 2.5vw;
  }

  .A_Button_Article {
    width: 5vw;
    margin-top: -2vw;
  }

  .A_Color_Text{
    font-size: 6vw;
  }


  input::placeholder {
    text-align: left;
    font-size: 2.5vw;  
  }

  .A_Search form input[type='search'] {
    height: 3vw;
  }

  .A_Text_of_Article{
    width: 70%;
  }

  .A_Img_Resize{
    width: 7%;
  }

  #A_P_AbtUs_Resize{
    font-size: 3vw;
  }

  #A_h3_Display{
    display: none;
  }

  .A_Logo_in_AbtUs{
    display: flex;
    align-self: center;
  }

  #A_Logo_Svg_Resize_AbtUs{
    width: 100vw;
    align-self: center;
  }

  #A_Video_Reflect{
    width: 100%;
  }

}

