.M_Manifest_Text {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 1vw 0;
}

.M_Img_and_Text{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    gap: 2vw;
}

.M_Info_in_Footer{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 10vw;
    flex-direction: row;
    font-weight: bold;
}

.M_Rights_and_Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    padding-top: 2vw;
}

.M_Text_Block_Left{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.M_Notes{
    display: flex;
    position: sticky;
    flex-direction: column;
    gap: 1vw;
}

.M_Links{
    padding-top: 4vw;
}

.M_Pic_and_Txt_Reflection{
    display: flex;
    flex-direction: row;
    
    justify-content: left;
    gap: 2vw;
    padding-top: 2vw;
}

.M_Name_and_Cross_Article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1vw;
    padding-bottom: 2.5vw;
    align-items: center;
}



@media all and (max-width: 800px){
    .M_Pic_and_Txt_Reflection{
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: left;
    }
}


@media all and (max-width: 480px){
    .M_Info_in_Footer {
        flex-wrap: wrap;
        gap: 5vw 1vw;
        padding-bottom: 3vw;
    }

    .M_Rights_and_Logo{
        gap: 1vw;
        justify-content: left;
        flex-wrap: wrap;
    }

    .M_Name_and_Cross_Article{
        height: 7vw;
        padding-bottom: 3vw;
        align-items: center;
    }

    .M_Text_Block_Left{
        width: 90%;
    }

    .M_Pic_and_Txt_Reflection{
        width: 100%;
        flex-wrap: wrap;
        justify-content: left;
    }

}


.M_Pic_and_Btn_add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.M_Second_block_add{
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.M_Spinning_Clocks {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: space-between;
    gap: 56vw;
    margin-left: -23vw;
    margin-top: -35vw;
    overflow: hidden;
}

.M_Last_Block_add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    margin-top: 10vw;
}

@media all and (max-width: 480px){

    .M_Second_block_add{
        justify-self: center;
    }

    .M_Last_Block_add {
        margin-top: 80vw;
        display: flex;
        justify-content: center;
    }

}

/* стайлгайд */

.M_SG_fisrt_block{
    display: flex;
    height: 93vh;
}

.M_SG_fisrt_block h4{
    display: inline-block;
    height: 30vw;
    background-color:aqua;
}

.M_SG_second_block{
    display: flex;
    flex-direction: column;
}

.M_SG_second_block:nth-of-type(1) img{
    width: 25vw;
    align-self:center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.M_SG_second_block:nth-of-type(2) img{
    width: 100%;
    align-self:center;
    padding-top: 0.1%;
    padding-bottom: 5%;
}

.M_SG_second_block:nth-of-type(3) img{
    width: 55vw;
    align-self:center;
    padding-top: 0.1%;
    padding-bottom: 5%;
}

.M_SG_second_block:nth-of-type(4) img{
    width: 68vw;
    align-self:center;
    padding-top: 1%;
    padding-bottom: 5%;
}

.M_SG_second_block:nth-of-type(5), .M_SG_second_block:nth-of-type(6) img{
    width: 55vw;
    padding: 1vw 1vw 1vw 14vw;
}

.M_SG_second_block h1{
    padding-left: 26vw;
}

.M_SG_second_block img:nth-of-type(7){
    width: 55vw;
    padding-left: 26vw;
}

.M_SG_second_block img:nth-of-type(8){
    width: 55vw;
    padding-left: 26vw;
    padding-top: 1%;
    padding-bottom: 5vw;
}

.M_SG_second_block img:nth-of-type(9), img:nth-of-type(10), img:nth-of-type(12), img:nth-of-type(16){
    width: 72vw;
    padding: 1vw 1vw 1vw 14vw;
}

.M_SG_second_block img:nth-of-type(11){
    width: 35vw;
    padding: 1vw 1vw 1vw 14vw;
}

.M_SG_second_block img:nth-of-type(13){
    width: 95vw;
    align-self: center;
    padding-top: 3vw;
}

.M_SG_second_block img:nth-of-type(14){
    width: 92vw;
    align-self: center;
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.M_SG_second_block img:nth-of-type(15){
    width: 22vw;
    align-self: center;
    padding-top: 2vw;
}

.M_SG_second_block img:nth-of-type(17){
    width: 72vw;
    align-self: center;
    padding-bottom: 8vw;
}
