.M_Manifest_Text {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 1vw 0;
}

.M_Img_and_Text{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 2vw;
}

.M_Info_in_Footer{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 10vw;
    flex-direction: row;
    font-weight: bold;
}

.M_Rights_and_Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5vw 3vw;
    font-weight: bold;
}