.M_Manifest_Text {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 1vw 0;
}

.M_Img_and_Text{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    gap: 2vw;
}

.M_Info_in_Footer{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 10vw;
    flex-direction: row;
    font-weight: bold;
}

.M_Rights_and_Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    padding-top: 2vw;
}

.M_Text_Block_Left{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.M_Notes{
    display: flex;
    position: sticky;
    flex-direction: column;
    gap: 1vw;
}

.M_Links{
    padding-top: 4vw;
}

.M_Pic_and_Txt_Reflection{
    display: flex;
    flex-direction: row;
    
    justify-content: left;
    gap: 2vw;
    padding-top: 2vw;
}

.M_Name_and_Cross_Article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1vw;
    padding-bottom: 1vw;
}



@media all and (max-width: 800px){
    .M_Pic_and_Txt_Reflection{
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: left;
    }
}


@media all and (max-width: 480px){
    .M_Info_in_Footer {
        flex-wrap: wrap;
        gap: 5vw 1vw;
        padding-bottom: 3vw;
    }

    .M_Rights_and_Logo{
        gap: 1vw;
        justify-content: left;
        flex-wrap: wrap;
    }

    .M_Name_and_Cross_Article{
        height: 7vw;
        padding-bottom: 3vw;
    }

    .M_Text_Block_Left{
        width: 90%;
    }

    .M_Pic_and_Txt_Reflection{
        width: 100%;
        flex-wrap: wrap;
        justify-content: left;
    }

}


.M_Pic_and_Btn_add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.M_Second_block_add{
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.M_Spinning_Clocks {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: space-between;
    gap: 56vw;
    margin-left: -23vw;
    margin-top: -35vw;
    overflow: hidden;
}

.M_Last_Block_add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    margin-top: 10vw;
}

@media all and (max-width: 480px){

    .M_Second_block_add{
        justify-self: center;
    }

    .M_Last_Block_add {
        margin-top: 80vw;
        display: flex;
        justify-content: center;
    }

}

/* стайлгайд */

.M_SG_fisrt_block{
    display: flex;
}

.M_SG_fisrt_block h4{
    display: inline-block;
    height: 30vw;
    background-color:aqua;
}