.O_Clock {
    margin: 3vw 0vw 4vw 0vw;
    width: 100%;
    height: 72vh;
    position: relative;
}

.O_Manifest_Card {
    display: flex;
    justify-content: left;
    justify-self: center;
    gap: 2vw;
    height: 22vw;
    border-bottom: 0.16vw solid rgba(150, 150, 150, 1);
    padding: 1.5vw 3vw;
    background-color: rgba(79, 40, 96, 0);
    cursor: pointer;
    overflow: hidden;
}

.O_Footer{
    padding: 1.5vw 3vw;
    border-top: 0.16vw solid rgba(150, 150, 150, 1);
    margin-top: -0.16vw;
}

.O_Slider {
    justify-self: center;
    width: 73.5%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    padding: 2vw 5vw 0vw 5vw;
    align-items: center;
}

.O_Notes_and_Links{
    width: 38%;
    border-left: 0.16vw solid rgba(150, 150, 150, 1);
    padding-left: 2vw;
    padding-bottom: 0vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.O_Abt_Us_block{
    width: 25%;
    gap: 1vw;
}

.O_Gif_and_Time{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: white;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    align-items: center;
    font-size: 9vw;
    font-family: Helvetica;
}

.O_Reflect_Block{
    padding: 1.5vw 3vw;
    display: flex;
    flex-direction: column;
}








@media all and (max-width: 680px){
 
  
    .O_Manifest_Card{
      height: 35%;
    }
 
    
    .O_Abt_Us_block{
        width: 100%;
        padding-bottom: 2vw;
    }

    .O_Clock {
        height: 90vh;
        position: relative;
    }
  
  }

  
@media all and (max-width: 480px){
    .O_Manifest_Card{
      height: 40%;
    }

    .O_Abt_Us_block{
        width: 100%;
        padding-bottom: 2vw;
    }

    
  .O_Clock {
    height: 90vh;
    position: relative;
}


}