.S_All_About_Us{
    display: flex;
    flex-direction: row;
    padding: 1vw 3vw;
    gap: 2vw;
}

.S_All_Articles{
    padding: 1vw 3vw;
    display: flex;
    flex-direction: column;
}

.S_MenuBar{
    display: flex;
}

@media all and (max-width: 680px){

    .S_All_About_Us{
        flex-wrap: wrap;
        flex-direction: column;
    }

}

@media all and (max-width: 480px){

    .S_All_About_Us{
        flex-wrap: wrap;
        flex-direction: column;
    }

}