.W_Manifests_Container {
    width: 100%;
    display: flex;
    justify-self: center;
    flex-direction: column;
}

.W_Manifest_Pic_and_Text{
    padding: 1.5vw 3vw;
}

.W_Manifest_Pic_and_Slider{
    padding-left: 3vw;
    padding-right: 3vw;
}

.W_Text_and_Notes{
    display: flex;
    flex-direction: row;
    gap: 3vw;
}