h1, h2, p, a {
    font-weight: 400;
}

#linkUnused{
    color: black;
    text-decoration: none;
}

#blockAboutUsFirst {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin-left: 0%; 
    margin-top: 0%;
}

#menuBar{
    display: flex; 
    flex-direction: row;
    margin-top: 2%; 
    margin-left: -15%;
}


#logoBlock{
    width: 20%;
    height: 30%;
    margin-left: 2%;
}

#menuBlockAboutUs{
    display: flex;
    flex-direction: column; 
    margin-left: 0%;
    padding-left: 3%;
    font-size: 2vw;
}


#cultCont{
    display: flex; 
    flex-direction: row; 
    margin-right: 2%;
    h1:nth-of-type(2){
        writing-mode: vertical-rl; 
        margin-top: 4.6%;
    }
}

#menuTxt {
    color: black; 
    text-decoration: none;
}

#menuTxtOn {
    color: black; 
    text-decoration: underline;
}

#txtAboutUsFirst{
    margin-left: 5%; 
    margin-top: -20%;
    font-size: 2vw;
}

#zigzagAboutUsFirst{
    text-align: center; 
    margin-top: 3%;
    font-size: 9vw;
}

#txtAboutUsSecond{
    display: flex; 
    flex-direction: row;
    img:nth-of-type(1){
        margin-left: 3%;
        margin-right: 5%;
        width: 50%;
    }
    div:nth-of-type(1){
        display: flex; 
        flex-direction: column; 
        width: 80%; 
        margin-left: -23%; 
        margin-top: 18%;
        p:nth-of-type(1){
            margin-left: 2%;
            margin-top: -7%;
            font-size: 2vw;
        }
        p:nth-of-type(2){
            margin-top: 25%; 
            margin-left: 28%;
            font-size: 2vw;
        }
    }
}

#zigzagAboutUsSecond{
    text-align: center; 
    margin-top: 2%;
    font-size: 9vw;
}

#txtAboutUsThird{
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 2vw;
    width: 70%;
}

#blockAboutUsSecond{
    background-color: rgba(255, 246, 25, 1); 
    height: 117%;
    h1:nth-of-type(1){
        text-align: center; 
        margin-top: 8%;
        padding-top: 2%;
        font-size: 9vw;
    }
    h1:nth-of-type(2){
        text-align: center; 
        margin-top: 2%;
        padding-bottom: 2%;
        font-size: 9vw;
    }
}

#txtAboutUsFourth{
    display: flex; 
    flex-direction: row; 
    margin-top: 5%; 
    margin-left: 4%;
    h1:nth-of-type(1){
        writing-mode: vertical-rl;
        margin-top: -8%;
        font-size: 9vw;
    }
    p:nth-of-type(1){
        margin-top: -2%; 
        margin-left: 0%;
        font-size: 2vw;
    }
}

#zigzagAboutUsThird{
    text-align: center; 
    margin-top: 6%;
    font-size: 9vw;
}

#podvalAboutUs{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin-top: 5%; 
    margin-left: 4.5%; 
    margin-right: 4.5%;
    a:nth-of-type(1){
        color: black;
        font-size: 2vw;
    }
    a:nth-of-type(2){
        color: black;
        font-size: 2vw;
    }
    a:nth-of-type(3){
        color: black;
        font-size: 2vw;
    }

}

#txtLil{
    font-size: 2vw;
}

#txtBig{
    font-size: 9vw;
}



@media screen and (max-width: 1024px) {
    #zigzagManifests{
        text-align: center; 
        margin-top: 3%;
        font-size: 9vw;
    }

}

@media screen and (max-width: 414px){

    #txtBig{
        font-size: 9vw;
    }

    #cultCont{
        margin-left: -20%;
    }

    #headForArticle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 10;
        width: 100%;
    }
    
    #menuBar{
        display: flex; 
        flex-direction: row;
        margin-top: 2%; 
        margin-left: 2%;
        width: 90%;
        z-index: 9;
    }
    
    #logoBlock{
        margin-left: 2%;
        z-index: 7;
    }

    #pic{
        width: 10vw;
    }
    
    #menuBlock{
        display: flex;
        flex-direction: column; 
        margin-left: -10%;
        z-index: 9;
    }
    
    #menuTxt {
        color: black; 
        text-decoration: none;
        font-size: 2vw;
    }
    
    #menuTxtOn {
        color: black; 
        text-decoration: underline;
        font-size: 2vw;
    }

    #txtLil{
        font-size: 2vw;
    }

    #txtAboutUsThird{
        display: flex;
        flex-direction: column;
        justify-self: center;
        font-size: 2vw;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #txtAboutUsFirst{
        font-size: 2vw;
    }

    #txtAboutUsSecond{
        font-size: 2vw;
    }

    #txtAboutUsFourth{
        font-size: 2vw;
    }

    #zigzagAboutUsThird{
        font-size: 9vw;
    }

    #zigzagAboutUsSecond{
        font-size: 9vw;
    }
    #zigzagAboutUsFirst{
        font-size: 9vw;
    }

    #menuBar{
        display: flex; 
        flex-direction: row;
        margin-top: 2%; 
        margin-left: 2%;
        width: 90%;
        z-index: 9;
        font-size: 2vw;
    }
    
    #logoBlock{
        margin-left: 2%;
        z-index: 7;
    }

    #pic{
        width: 10vw;
    }
    
    #txtAboutUsSecond {
        & div:nth-of-type(1) {
            p:nth-of-type(1) {
                margin-left: 2%;
                margin-top: -7%;
                font-size: 2vw;
            }
        }
    }

    #txtAboutUsSecond {
        & div:nth-of-type(1) {
            p:nth-of-type(2) {
                margin-top: 25%;
                margin-left: 28%;
                font-size: 9vw;
            }
        }
    }

    #txtAboutUsFourth {
        p:nth-of-type(1) {
            margin-top: -2%;
            margin-left: 0%;
            font-size: 2vw;
        }
    }
}

@media screen and (max-width: 768px) {

    #zigzagAboutUsThird{
        font-size: 9vw;
        margin-left: 5%;
    }
    #zigzagAboutUsSecond{
        font-size: 9vw;
        margin-left: 5%;
    }
    #zigzagAboutUsFirst{
        font-size: 9vw;
        margin-left: 5%;
    }
    #txtAboutUsFirst {
        margin-left: 5%;
        margin-top: -20%;
        font-size: 2vw;
    }

    #txtBig{
        font-size: 9vw;
    }

    #txtAboutUsThird {
        margin-top: 7%;
        margin-left: 4%;
        font-size: 2vw;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    #blockAboutUsSecond {
        background-color: rgba(255, 246, 25, 1);
        height: 85%;
        
    }

    #menuBlockAboutUs{
        font-size: 2vw;
    }
    
    #blockAboutUsSecond {
        h1:nth-of-type(2) {
            text-align: center;
            margin-top: 2%;
            padding-bottom: 2%;
            font-size: 9vw;
        }
    }

}