@media screen and (min-width: 414px) {
    /* Заглушка */
    p{
        font-size: 60px;
    }

    h1{
        font-size: 120px;
    }

    #bigBlockForZaglushka{
        display: flex;
        flex-wrap: wrap;
    }


    #txtblockZaglushkaFirst {
        p:nth-of-type(1) {
            font-size: 59px;
            line-height: 85%;
        }
    }

    
    #blockZaglushkaFirst{
        margin-left: 0%;
        padding-left: 5%;
        width: 80%;
    }

    #formaBlock {
        & form {
            input {
                font-size: 23px;
                font-weight: 400;
                border: 2px solid black;
                width: 45%;
                background-color: rgba(255, 246, 25, 1);
            }
        }
    }

    #formaBlock{
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
    }

    #zigzag{
        margin-left: 1%;
        margin-top: 4%;
        width: 16%;
        p:nth-of-type(1){
            font-size: 220px;
        }
    }


    #blockZaglushkaSecond {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        margin-left: 23%;
        margin-right: 2%;
        margin-top: 0%;
        margin-bottom: 20%;
    }

    /*article*/



}  

@media screen and (min-width:768px) {
    /* Заглушка */
    p{
        font-size: 26px;
    }

    h1{
        font-size: 120px;
    }

    #bigBlockForZaglushka{
        display: flex;
        flex-wrap: wrap;
    }


    #txtblockZaglushkaFirst {
        p:nth-of-type(1) {
            font-size: 70px;
            line-height: 85%;
        }
        p:nth-of-type(2) {
            text-align: left;
            font-size: 14px;
        }
    }

    
    #blockZaglushkaFirst{
        margin-left: 0%;
        padding-left: 5%;
        width: 80%;
    }

    #formaBlock {
        & form {
            input {
                font-size: 14px;
                font-weight: 400;
                border: 2px solid black;
                width: 45%;
                background-color: rgba(255, 246, 25, 1);
            }
        }
    }

    #formaBlock{
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
    }

    #zigzag{
        margin-left: 1%;
        margin-top: 4%;
        width: 16%;
        p:nth-of-type(1){
            font-size: 220px;
        }
    }


    #blockZaglushkaSecond {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        margin-left: 23%;
        margin-right: 2%;
        margin-top: 0%;
        margin-bottom: 20%;
        }
}  
/* 1024px */
 @media screen and (min-width: 1024px) {

    /* Заглушка */
    p{
        font-size: 23px;
    }

    h1{
        font-size: 82px;
    }


    #txtblockZaglushkaFirst {
        width: 100%;
        p:nth-of-type(1) {
            font-size: 82px;
            line-height: 85%;
        }
    }

    #formaBlock {
        & form {
            input {
                font-size: 23px;
                font-weight: 400;
                border: 2px solid black;
                width: 45%;
                background-color: rgba(255, 246, 25, 1);
            }
        }
    }

    #zigzag{
        margin-left: 1%;
        margin-top: 2%;
        p:nth-of-type(1){
            font-size: 125px;
        }
    }

    #blockZaglushkaFirst{
        margin-left: -5%;
        width: 87%;
        padding-left: 0%;
    }

    #txtblockZaglushkaFirst {
        p:nth-of-type(2) {
            text-align: left;
            margin-bottom: -80%;
        }
    }

    /* #blockZaglushkaSecond {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 35%;
        margin-right: 2%;
        margin-left: 13%;
        margin-top: 0%;
        margin-bottom: 3%;
    }*/
    #blockZaglushkaSecond {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 13%;
        margin-right: 2%;
        margin-top: -3%;
    }

    #zigzagManifests {
        text-align: center;
        margin-top: 8%;
    }


}

/* 1360px */
@media screen and (min-width: 1360px) {

    /* Заглушка */
    p{
        font-size: 26px;
    }

    h1{
        font-size: 110px;
    }


    #txtblockZaglushkaFirst {
        width: 120%;
        p:nth-of-type(1) {
            font-size: 100px;
            line-height: 85%;
        }
    }

    #formaBlock {
        & form {
            input {
                font-size: 29px;
                font-weight: 400;
                border: 2px solid black;
                width: 45%;
                background-color: rgba(255, 246, 25, 1);
            }
        }
    }

    #zigzag{
        margin-left: 1%;
        margin-top: 2%;
        width: 10%;
        p:nth-of-type(1){
            font-size: 140px;
        }
    }

    #blockZaglushkaFirst{
        margin-left: 1%;
        width: 65%;
    }

    #txtblockZaglushkaFirst {
        p:nth-of-type(2) {
            text-align: left;
            margin-bottom: 14%;
        }
    }
    #blockZaglushkaSecond {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 23%;
        margin-left: -3%;
        margin-right: 2%;
        padding-left: 0%;
        margin-top: 0%;
        margin-bottom: 3%;
    }

        /*article*/

    



}

/* 1440px */
@media screen and (min-width: 1440px){

    /* Заглушка */
    p{
        font-size: 29px;
    }

    h1{
        font-size: 120px;
    }


    #txtblockZaglushkaFirst {
        width: 120%;
        p:nth-of-type(1) {
            font-size: 124px;
            line-height: 85%;
        }
    }

    #formaBlock {
        & form {
            input {
                font-size: 29px;
                font-weight: 400;
                border: 2px solid black;
                width: 45%;
                background-color: rgba(255, 246, 25, 1);
            }
        }
    }

    #zigzag{
        margin-left: 1%;
        margin-top: 2%;
        p:nth-of-type(1){
            font-size: 148px;
        }
    }

    #blockZaglushkaFirst{
        margin-left: -5%;
    }

    #txtblockZaglushkaFirst {
        p:nth-of-type(2) {
            text-align: left;
            margin-bottom: 14%;
        }
    }

    #blockZaglushkaSecond{
        margin-bottom: 3%;
    }





}


/* Стили для экранов больше 1920 пикселей */ 
@media screen and (min-width: 1920px) { 
    /* Заглушка */ 

    p{ 
        font-size: 38px; 
    } 
 
    #txtblockZaglushkaFirst { 
        width: 110%; 
        p:nth-of-type(1) { 
            font-size: 140px; 
            line-height: 85%; 
        } 
    } 
 
    #formaBlock { 
        margin-top: -20%;
        & form { 
            input { 
                font-size: 38px; 
                font-weight: 400; 
                border: 2px solid black; 
                width: 45%; 
                background-color: rgba(255, 246, 25, 1); 
            } 
        } 
    } 
 
    #zigzag{ 
        margin-left: 1%; 
        margin-top: 3%; 
        p:nth-of-type(1){ 
            font-size: 180px; 
        } 
    } 
 
    #blockZaglushkaFirst{ 
        margin-left: -2%;
        width: 70%;
    } 

    #blockZaglushkaSecond{ 
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        padding-left: -20%; 
        width: 20%;
        margin-top: -3%;
    } 

    #bigBlockForZaglushka{
        display: flex;
        flex-direction: row;
    }

}