body{
    line-height: 1.3;
}

h1{
    font-family: Helvetica;
    font-size: 3.6vw;
}

h2{
    font-family: Helvetica;
    font-size: 2vw;
}

h3{
    font-family: Helvetica;
    font-size: 12vw;
}


p{
    font-family: Helvetica;
    font-size: 1.4vw;  
}

h4{
    font-size: 4vw;
    font-family: arial unicode;
}

a{
    font-family: Helvetica;
    font-size: 1.4vw;  
    text-decoration: none;
    color:inherit;
}

.Special_link{
    text-decoration: underline;
    cursor: pointer;
}

#email {
    font-family: Helvetica;
    border: none;
    color: inherit;
    padding: 0;
    text-align: left;
    font-size: 1.4vw; 
    border-bottom: 0.15vw solid currentColor; 
    outline: none;
}

.Down{
    margin-bottom: 0.6vh;
}

#center_txt{
    text-align: center;
}

#Logo_in_Footer{
    width: 10vw;
}
  

@media all and (max-width: 800px){
    p{
        font-size: 1.7vw;  
    }
    
    a{
        font-size: 1.7vw;  
    }
  
    #email {
        font-size: 1.7vw; 
    }
  
    input[type=search]{
        font-family: Helvetica;
        font-size: 1.7vw; 
    }
  
}
  
  
  @media all and (max-width: 680px){
    p{
        font-size: 2vw;  
    }
    
    a{
        font-size: 2vw;  
    }
  
    #email {
        font-size: 2vw; 
    }

    input[type=search]{
        font-family: Helvetica;
        font-size: 2vw; 
    }

    h2{
        font-size: 3vw;
    }
}
  
  
  
  @media all and (max-width: 480px){
    p{
        font-size: 3vw;  
    }
    
    a{
        font-size: 3vw;  
    }
  
    #email {
        font-size: 3vw; 
    }

    input[type=search]{
        font-family: Helvetica;
        font-size: 3vw; 
    }

    h2{
        font-size: 4vw;
    }

    h1{
        font-size: 5vw;
    }


}



















.O_Search {
    display: flex;
    margin: 50px auto;
    align-items: center;
    gap: 10px;
    max-width: 30%;
}
  
.A_SearchInput {
    border: 1px solid black;
    border-radius: 8px;
    width: 250px;
    height: 48px;
    background-color: transparent;
    padding: 1px 8px;
  
    &:focus {
      border-color: inherit;
      box-shadow: none;
      outline: none;
    }
}
  
.A_SearchButton {
    padding: 16px 20px;
    background-color: black;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    user-select: none;
  
    &.disable {
      background-color: lightgray;
      color: grey;
      cursor: default;
    }
}