* {
  box-sizing: border-box;
}

p {
  font-size: 24px;
  font-weight: 400;
}

h1 {
  font-size: 120px;
}

html,
body {
  height: 100%;
  font-family: 'Helvetica';
}

body {
  font-family: 'PT Root UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#boxForLogo{
  margin-top: 12%;
  margin-bottom: -11%;
  margin-left: 2%;
}


#menuTxt {
  font-family: Helvetica, sans-serif;
  margin-right: 40px; 
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: 0.8s;

}

#menuTxt:hover {
  background-color: yellow;
  transition: 0.3s;
}


#menuTxtOn {
  font-family: Helvetica, sans-serif;
  margin-right: 40px; 
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: 0.8s;

}

#menuTxtOn:hover {
  background-color: yellow;
  transition: 0.3s;
}