.Clock_2020,
.Clock_1910,
.Clock_1920,
.Clock_1930,
.Clock_1940,
.Clock_1950,
.Clock_1960,
.Clock_1970,
.Clock_1980,
.Clock_1990,
.Clock_2000,
.Clock_2010 {
    display: none;
}

.Twenties:hover{
    color: rgb(105, 105, 105);
}
.NineteenTen:hover{
    color: rgb(105, 105, 105);
}
.NineteenThirty:hover{
    color: rgb(105, 105, 105);
}
.NineteenFourty:hover{
    color: rgb(105, 105, 105);
}
.NineteenFifty:hover{
    color: rgb(105, 105, 105);
}
.NineteenSixty:hover{
    color: rgb(105, 105, 105);
}
.NineteenSeventy:hover{
    color: rgb(105, 105, 105);
}
.NineteenEighty:hover{
    color: rgb(105, 105, 105);
}
.NineteenNinety:hover{
    color: rgb(105, 105, 105);
}
.TwoThousand:hover{
    color: rgb(105, 105, 105);
}
.TwentyTen:hover{
    color: rgb(105, 105, 105);
}
.NineteenTwenty:hover {
    color: rgb(105, 105, 105);
}


.Twenties_Display_Time,
.NineteenTen_Display_Time,
.NineteenTwenty_Display_Time,
.NineteenThirty_Display_Time,
.NineteenFourty_Display_Time,
.NineteenFifty_Display_Time,
.NineteenSixty_Display_Time,
.NineteenSeventy_Display_Time,
.NineteenEighty_Display_Time,
.NineteenNinety_Display_Time,
.TwoThousand_Display_Time,
.TwentyTen_Display_Time{
    display: none;
}

