:root {
  --i: 30;
}

body {
  box-sizing: border-box;
}

#email {
  font-family: Helvetica;
  font-size: 1.5vw;
  border: none;
  border-bottom: 0.15vw solid rgba(150, 150, 150, 1);
  color: rgba(150, 150, 150, 1);
}

#logo_in_footer{
  width: 10vw;
}