:root {
  --i: 30;
}

body {
  box-sizing: border-box;
}

.A_Hand {
  &.hour {
    width: 8vw;
    height: 0.31vw;
    background-color: black;

    position: absolute;
    transform-origin: center left;
    top: calc(45%);
    left: 50%;
    transform: rotate(270deg);
  }
  &.minute {
    width: 10vw;
    height: 0.31vw;
    background-color: rgb(255, 0, 0);

    position: absolute;
    transform-origin: center left;
    top: calc(45%);
    left: 50%;
    transform: rotate(270deg);
  }
}
.A_Time {
  width: 23vw;
  position: absolute;
  top: 43%;
  left: 50%;
  display: block;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 3.6vw;
  cursor: pointer;

  &.right_side {
    text-align: right;
    transform-origin: center left;

    &:nth-of-type(1) {
      transform: rotate(-90deg);
    }
    &:nth-of-type(2) {
      transform: rotate(-60deg);
    }
    &:nth-of-type(3) {
      transform: rotate(-30deg);
    }
    &:nth-of-type(4) {
      transform: rotate(0deg);
    }
    &:nth-of-type(5) {
      transform: rotate(30deg);
    }
    &:nth-of-type(6) {
      transform: rotate(60deg);
    }
    &:nth-of-type(7) {
      transform: rotate(90deg);
    }
  }
  &.left_side {
    text-align: left;
    transform-origin: center right;
    left: calc(50% - 23vw);

    &:nth-of-type(8) {
      transform: rotate(-60deg);
    }
    &:nth-of-type(9) {
      transform: rotate(-30deg);
    }
    &:nth-of-type(10) {
      transform: rotate(0deg);
    }
    &:nth-of-type(11) {
      transform: rotate(30deg);
    }
    &:nth-of-type(12) {
      transform: rotate(60deg);
    }
  }
}
.O_Clock {
  margin: 3vw 0vw 4vw 0vw;
  width: 100%;
  height: 72vh;
  position: relative;
}

.C_menu_bar {
  width: 100%;
  height: 5%;
  position: sticky;
  background-color: rgb(255, 255, 255);
  font-family: Helvetica;
  font-size: 1.5vw;
  color: black;
  display: flex;
  gap: 5vw;
  padding: 1vw 3vw;
  justify-self: center;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  box-sizing: border-box;
}

.A_Messager_bar {
  width: 100%;
  height: 4vw;
  position: relative;
  display: flex;
  justify-content: end;
  font-family: Helvetica;
  font-size: 1.5vw;
  color: rgba(150, 150, 150, 1);
  cursor: pointer;
  padding: 1vw 3vw;
  box-sizing: border-box;
  justify-self: center;
}

.A_Link {
  text-decoration: none;
  color: rgba(150, 150, 150, 1);
  position: relative;
}

.A_Link::after{
  content: ""; 
  position: absolute;
  left: 0;
  bottom: -0.2vh; 
  width: 100%;
  height: 0.13vw; 
  background-color: rgba(150, 150, 150, 1);;
}

.A_Search {
  font-family: Helvetica;
  font-size: 1.5vw;
  border-bottom: 0.15vw solid rgba(150, 150, 150, 1);
  color: rgba(150, 150, 150, 1);
  margin-bottom: 0vw;
  margin-left: auto;
}

.A_Search form input[type='search'] {
  font-family: Helvetica;
  font-size: 1.5vw;
  border: 0;
  outline: none;
  cursor: text;
}

input::placeholder {
  color: rgba(150, 150, 150, 1);
}

.W_Manifests_Container {
  width: 100%;
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.O_Manifest_Card {
  display: flex;
  justify-content: left;
  justify-self: center;
  gap: 2vw;
  height: 22vw;
  border-bottom: 0.16vw solid rgba(150, 150, 150, 1);
  padding: 1.5vw 3vw;

  background-color: rgba(79, 40, 96, 0);
}

.A_Picture {
  width: 30.8vw;
  height: 100%;
}

.A_Quote{
  font-family: Helvetica;
  font-size: 1.5vw;
  color: black;
  width: 30.8vw;
  padding: 1vw 0;
}

.M_Manifest_Text {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  padding: 1vw 0;
}





.W_Manifest_Pic_and_Text{
  padding: 1.5vw 3vw;
}

.C_Name_and_Arrow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding-bottom: 2vw;
}

.M_Img_and_Text{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  gap: 2vw;
}

.A_Arrow_Back{
  cursor: pointer;
  width: 10vw;
}

.O_Footer{
  display: flex;
  padding: 1.5vw 3vw;
}

.M_Info_in_Footer{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 10vw;
  flex-direction: row;
}

#email {
  font-family: Helvetica;
  font-size: 1.5vw;
  border: none;
  border-bottom: 0.15vw solid rgba(150, 150, 150, 1);
  color: rgba(150, 150, 150, 1);
}

.A_Mail form input[type='email'] {
  font-family: Helvetica;
  font-size: 1.5vw;
  border: none;
  outline: none;
  cursor: text;
}

.M_Rights_and_Logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5vw 3vw;
}

.A_Rights{
  width: 50%;
  align-self: left;
}

.A_Logo_in_Footer{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#logo_in_footer{
  width: 10vw;
}