body {
    box-sizing: border-box;
}

.hand_hour {
    width: 10vw;
    height: 0.5vw;
    background-color: black;
}

.hand_minute {
    width: 12vw;
    height: 0.5vw;
    background-color: rgb(255, 0, 0);
}