#headForArticle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}

#menuBar{
    display: flex; 
    flex-direction: row;
    margin-top: 2%; 
    margin-left: 2%;
    width: 90%;
    z-index: 9;
}

#logoBlock{
    width: 20%;
    height: 30%;
    margin-left: 0%;
    z-index: 7;
}

#menuBlock{
    display: flex;
    flex-direction: column; 
    margin-left: -11%;
    z-index: 9;
}

#menuTxt {
    color: black; 
    text-decoration: none;
}

#menuTxtOn {
    color: black; 
    text-decoration: underline;
}

#hrefBack{
    margin-top: 2%;
}

#picBlockFluxus{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imgForArticle{
    margin-top: 2%;
    width: 90%;
    border: solid gray;
    margin-left: 5%;
}

#zigzagManifests{
    text-align: center; 
    margin-top: 3%;
}

#txtArticle{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}

#leftTxtBlock{
    width: 100%;
    margin-left: 4%;
}

#rightTxtBlock{
    margin-right: 2%;
}

#blockImportantInfo{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 246, 25, 1); 
    height: 75%;
}

#blockImportantInfoTxt{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    padding-top: 3%;
    padding-bottom: 10%;
    p:nth-of-type(2){
        margin-left: 13%;
    }
}

#blockDopInfoTxt{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    padding-top: 3%;
    padding-bottom: 10%;
    p:nth-of-type(2){
        margin-left: 3%;
    }
}

#blockTags{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    padding-top: 3%;
    padding-bottom: 10%;
}

@media screen and (max-width: 1024px) {
    #zigzagManifests{
        text-align: center; 
        margin-top: 3%;
        font-size: 100px;
    }
}

@media screen and (max-width: 1000px){

    #headForArticle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 10;
        width: 100%;
    }
    
    #menuBar{
        display: flex; 
        flex-direction: row;
        margin-top: 2%; 
        margin-left: 2%;
        width: 90%;
        z-index: 9;
    }
    
    #logoBlock{
        margin-left: 2%;
        z-index: 7;
    }

    #pic{
        width: 10vw;
    }
    
    #menuBlock{
        display: flex;
        flex-direction: column; 
        margin-left: -10%;
        z-index: 9;
    }
    
    #menuTxt {
        color: black; 
        text-decoration: none;
        font-size: 12px;
    }
    
    #menuTxtOn {
        color: black; 
        text-decoration: underline;
        font-size: 12px;
    }

    #txtLil{
        font-size: 12px;
    }
    
    #hrefBack{
        margin-top: 2%;
    }
    
    #picBlockFluxus{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #imgForArticle{
        margin-top: 2%;
        width: 90%;
        border: solid gray;
        margin-left: 5%;
    }
    
    #zigzagManifests{
        text-align: center; 
        margin-top: 3%;
        font-size: 70px;
    }
    
    #txtArticle{
        display: flex;
        flex-direction: row;
        margin-top: 4%;
    }
    
    #leftTxtBlock{
        width: 100%;
        margin-left: 4%;
    }
    
    #rightTxtBlock{
        margin-right: 2%;
    }
    
    #blockImportantInfo{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 246, 25, 1); 
        height: 30%;
    }
    
    #blockImportantInfoTxt{
        display: flex;
        flex-direction: row;
        margin-left: 4%;
        padding-top: 3%;
        padding-bottom: 10%;
        p:nth-of-type(2){
            margin-left: 13%;
        }
    }
    
    #blockDopInfoTxt{
        display: flex;
        flex-direction: row;
        margin-left: 4%;
        padding-top: 3%;
        padding-bottom: 10%;
        p:nth-of-type(2){
            margin-left: 3%;
        }
    }
    
    #blockTags{
        display: flex;
        flex-direction: row;
        margin-left: 4%;
        padding-top: 3%;
        padding-bottom: 10%;
    }
}

@media screen and (max-width: 414px) {
    #zigzagManifests{
        text-align: center; 
        margin-top: 3%;
        font-size: 40px;
    }

    #txtArticle{
        flex-direction: column;
    }

    #rightTxtBlock{
        margin-left: 4%;
        margin-top: 5%;
    }

    #blockImportantInfoTxt{
    }
}