#hugeBlockForStyleGuide{
    display: flex;
}

#styleGuideBlock{
    margin-left: 3.5rem; 
    padding: 0px; 
    flex-grow: 1;
    height: 100vh; 
    overflow-y: auto; 
}




















































































@media(max-width: 414px){
    #styleGuideBlock{
        margin-top: 10rem; 
        margin-left: 0;
        padding: 0px; 
        flex-grow: 1; 
        height: 100vh; 
        overflow-y: auto; 
        font-size: 5vw;
    }
}


@media(max-width: 950px){
    #div_menu{
        width: 50rem;
      ul, li, ol {
        font-size: 3vw;
      }
    }
}